hr
br

.container
  .row
    .col-md-4.text-center
      h4 Links
      p
        a(href='/') Home
      p
        a(href='/signup') Signup
      p
        a(href='/login') Login
      p
        a(href='/causes') Causes

    .col-md-4.text-center
      h4 Teams
      p
        a(href='http://twitter.com/itspuru') Puru
      p
        a(href='http://twitter.com/') Your Name
      p
        a(href='http://twitter.com/') Your Name


    .col-md-4.text-center
      h4 Project
      p
        a(href='http://github.com/tshiwakoti/MasterOfCode') MasterOfCode
        
  .row.text-center
    p Build with  <i class="fa fa-heart text-danger"></i> @ <a href="/"> Angel Hack </a>
    
