extends layout

block content
  #cover.cover-main.cover-100
    .call-to-action
      h2.text-center Together we can
        span.typed.top-text
        br
      .col-md-6
        a.btn-cta.btn-white.pull-right(href="/campaign/new") Create a Campaign
      .col-md-6
        a.btn-cta.btn-white.pull-left(href="/campaigns") Join a Campaign
