section {
  position: relative;
  height: 100vh;
  z-index: 1;
}

div#cover{
  padding-top: -20px;
  position: relative;
  height: 100vh;
  z-index: 1;
	background-image:url(../cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  color: white;
}

.btn-cta {
  padding: 15px 40px;
}

.btn-white {
  background-color: transparent;
  border: 2px solid white;
  font-size: 20px;
  color: white;
}

.call-to-action {
  padding-top: 250px;
}

.btn-white:hover {
  background: white;
  color: black;
}

.top-text {
  font-family: 'Shadows Into Light', cursive;
}
