extends ../layout

block content
  .container.make-it-editable
    .row
      input.editor.title(placeholder='Input here')
      br
    .row
      input.editor.image-link(type='text', placeholder='Image Link', name="image_url" )
      br
    .row
      textarea.form-control.editor.editor-textarea(rows="8")
      br
      br
    
    .col-md-4.pull-right
      a.btn.btn-lg.btn-block.btn-default Submit
